@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
   margin: 0;
   box-sizing: border-box;
   font-family: "Lato", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
   letter-spacing: 1px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.App {
   --bg-color: rgb(9, 20, 41);
   background-color: var(--bg-color);
   color: white;
   display: flex;
   column-gap: 1rem;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
