.Game {
   --bg-color: rgb(9, 20, 41);
   --primary-color: white;
   font-size: 3rem;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: var(--bg-color);
   color: var(--primary-color);
}

.reset {
   background-color: var(--primary-color);
   color: var(--bg-color);
   font-size: 2rem;
   font-weight: 500;
   padding-block: 0.3rem;
   padding-inline: 0.6rem;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 0.3rem;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
   transition: all 0.2s ease-in;
}

.reset:hover {
   background-color: rgb(143, 143, 143);
   color: var(--bg-color);
   border-color: var(--primary-color);
}
